.animated-line {
    animation: moveLine 3s linear infinite;
    opacity: 0.8;
}

@keyframes moveLine {
    0% {
        transform: translate(0, 0) rotate(45deg);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translate(500px, 500px) rotate(45deg);
        /* Move in the direction they are pointing*/
    opacity: 0;
  }
}